<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>f1.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,191},{79,75}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,75}</string>
			</dict>
			<key>f10.png</key>
			<dict>
				<key>frame</key>
				<string>{{121,0},{43,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,53}</string>
			</dict>
			<key>f11.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,315},{32,21}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{32,21}</string>
			</dict>
			<key>f12.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,347},{28,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,19}</string>
			</dict>
			<key>f13.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,88},{107,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{107,36}</string>
			</dict>
			<key>f2.png</key>
			<dict>
				<key>frame</key>
				<string>{{137,53},{23,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{23,36}</string>
			</dict>
			<key>f3.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,59},{28,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{28,59}</string>
			</dict>
			<key>f4.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{78,88}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{78,88}</string>
			</dict>
			<key>f5.png</key>
			<dict>
				<key>frame</key>
				<string>{{78,0},{43,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,59}</string>
			</dict>
			<key>f6.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,88},{62,103}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{62,103}</string>
			</dict>
			<key>f7.png</key>
			<dict>
				<key>frame</key>
				<string>{{164,0},{41,53}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{41,53}</string>
			</dict>
			<key>f8.png</key>
			<dict>
				<key>frame</key>
				<string>{{62,124},{51,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,58}</string>
			</dict>
			<key>f9.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,270},{39,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{39,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{256,512}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>512</integer>
		</dict>
	</dict>
</plist>