<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_endless_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,587},{302,80}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,4},{302,80}}</string>
                <key>sourceSize</key>
                <string>{320,96}</string>
            </dict>
            <key>btn_go.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,770},{116,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{116,82}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>btn_go_disabled.png</key>
            <dict>
                <key>frame</key>
                <string>{{223,937},{116,82}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,18},{116,82}}</string>
                <key>sourceSize</key>
                <string>{160,120}</string>
            </dict>
            <key>btn_story_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,259},{276,82}}</string>
                <key>offset</key>
                <string>{-3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,2},{276,82}}</string>
                <key>sourceSize</key>
                <string>{288,96}</string>
            </dict>
            <key>btn_stuffs.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,252},{166,80}}</string>
                <key>offset</key>
                <string>{3,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{166,80}}</string>
                <key>sourceSize</key>
                <string>{208,104}</string>
            </dict>
            <key>btn_touch2start.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,543},{426,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,93}}</string>
                <key>sourceSize</key>
                <string>{426,93}</string>
            </dict>
            <key>btn_upgrade_gun.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,637},{274,132}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,4},{274,132}}</string>
                <key>sourceSize</key>
                <string>{286,136}</string>
            </dict>
            <key>bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,190},{21,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{21,24}}</string>
                <key>sourceSize</key>
                <string>{21,24}</string>
            </dict>
            <key>bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,885},{131,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,51}}</string>
                <key>sourceSize</key>
                <string>{131,51}</string>
            </dict>
            <key>bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,185},{90,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,6}}</string>
                <key>sourceSize</key>
                <string>{90,6}</string>
            </dict>
            <key>bullet_AK47.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,632},{77,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,26}}</string>
                <key>sourceSize</key>
                <string>{77,26}</string>
            </dict>
            <key>bullet_BLASTING.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,943},{110,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,80}}</string>
                <key>sourceSize</key>
                <string>{110,80}</string>
            </dict>
            <key>bullet_DS2.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,587},{39,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,39}}</string>
                <key>sourceSize</key>
                <string>{39,39}</string>
            </dict>
            <key>bullet_E3.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,943},{110,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,67}}</string>
                <key>sourceSize</key>
                <string>{110,67}</string>
            </dict>
            <key>bullet_F1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,668},{120,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,73}}</string>
                <key>sourceSize</key>
                <string>{120,73}</string>
            </dict>
            <key>bullet_HYDRA.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,294},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>bullet_MP5A5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,637},{132,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,29}}</string>
                <key>sourceSize</key>
                <string>{132,29}</string>
            </dict>
            <key>bullet_TORPEDO.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,339},{60,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,27}}</string>
                <key>sourceSize</key>
                <string>{60,27}</string>
            </dict>
            <key>checkpoint_txt.png</key>
            <dict>
                <key>frame</key>
                <string>{{409,668},{272,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,37}}</string>
                <key>sourceSize</key>
                <string>{272,37}</string>
            </dict>
            <key>daily_reward_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,742},{114,200}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{114,200}}</string>
                <key>sourceSize</key>
                <string>{116,202}</string>
            </dict>
            <key>dodge_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,885},{133,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,37}}</string>
                <key>sourceSize</key>
                <string>{133,37}</string>
            </dict>
            <key>endless_highestscore.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,549},{152,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,98}}</string>
                <key>sourceSize</key>
                <string>{152,98}</string>
            </dict>
            <key>first_purchase_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,244},{440,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{440,189}}</string>
                <key>sourceSize</key>
                <string>{440,189}</string>
            </dict>
            <key>frame_down_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,42},{522,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,10}}</string>
                <key>sourceSize</key>
                <string>{522,10}</string>
            </dict>
            <key>frame_left_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{969,215},{16,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,73}}</string>
                <key>sourceSize</key>
                <string>{16,73}</string>
            </dict>
            <key>frame_right_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{983,116},{16,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{16,73}}</string>
                <key>sourceSize</key>
                <string>{16,73}</string>
            </dict>
            <key>frame_up_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,31},{522,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{522,10}}</string>
                <key>sourceSize</key>
                <string>{522,10}</string>
            </dict>
            <key>free_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,118},{86,86}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>menu_challenges.png</key>
            <dict>
                <key>frame</key>
                <string>{{259,770},{123,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{123,112}}</string>
                <key>sourceSize</key>
                <string>{175,160}</string>
            </dict>
            <key>saveme_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,342},{328,244}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{328,244}}</string>
                <key>sourceSize</key>
                <string>{328,254}</string>
            </dict>
            <key>sc_upgrade_bg_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,25},{5,338}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{5,338}}</string>
                <key>sourceSize</key>
                <string>{5,338}</string>
            </dict>
            <key>sc_upgrade_bg_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,25},{764,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{764,5}}</string>
                <key>sourceSize</key>
                <string>{764,5}</string>
            </dict>
            <key>shop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,600},{78,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{78,31}}</string>
                <key>sourceSize</key>
                <string>{78,33}</string>
            </dict>
            <key>shop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,476},{93,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{93,32}}</string>
                <key>sourceSize</key>
                <string>{95,34}</string>
            </dict>
            <key>shop_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,443},{94,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{94,32}}</string>
                <key>sourceSize</key>
                <string>{96,34}</string>
            </dict>
            <key>shop_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,367},{44,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{44,34}}</string>
                <key>sourceSize</key>
                <string>{46,36}</string>
            </dict>
            <key>shop_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,279},{66,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{66,34}}</string>
                <key>sourceSize</key>
                <string>{66,36}</string>
            </dict>
            <key>shop_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,244},{67,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{67,34}}</string>
                <key>sourceSize</key>
                <string>{67,36}</string>
            </dict>
            <key>shop_big_buy_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,116},{180,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,20},{180,40}}</string>
                <key>sourceSize</key>
                <string>{200,80}</string>
            </dict>
            <key>shop_cash_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{915,659},{103,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,76}}</string>
                <key>sourceSize</key>
                <string>{103,76}</string>
            </dict>
            <key>shop_coin_gray.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,905},{117,81}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,81}}</string>
                <key>sourceSize</key>
                <string>{119,81}</string>
            </dict>
            <key>shop_common_button.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,1},{200,114}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{200,114}}</string>
                <key>sourceSize</key>
                <string>{202,116}</string>
            </dict>
            <key>shop_sale.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,558},{79,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{79,41}}</string>
                <key>sourceSize</key>
                <string>{79,41}</string>
            </dict>
            <key>shop_sold_out.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,31},{153,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{153,153}}</string>
                <key>sourceSize</key>
                <string>{153,153}</string>
            </dict>
            <key>star.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,664},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star_empty.png</key>
            <dict>
                <key>frame</key>
                <string>{{731,627},{38,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{38,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star_left.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,38},{20,36}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{20,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>star_right.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,1},{20,36}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,2},{20,36}}</string>
                <key>sourceSize</key>
                <string>{40,40}</string>
            </dict>
            <key>start_scene_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,53},{508,190}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,10},{508,190}}</string>
                <key>sourceSize</key>
                <string>{512,210}</string>
            </dict>
            <key>upgrade_title_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,205},{252,53}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{252,53}}</string>
                <key>sourceSize</key>
                <string>{258,53}</string>
            </dict>
            <key>weapon_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,770},{142,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,114}}</string>
                <key>sourceSize</key>
                <string>{142,114}</string>
            </dict>
            <key>weapon_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,333},{158,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,107}}</string>
                <key>sourceSize</key>
                <string>{158,107}</string>
            </dict>
            <key>weapon_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,923},{144,91}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,91}}</string>
                <key>sourceSize</key>
                <string>{144,91}</string>
            </dict>
            <key>weapon_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,648},{144,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,93}}</string>
                <key>sourceSize</key>
                <string>{144,93}</string>
            </dict>
            <key>weapon_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{771,441},{152,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,107}}</string>
                <key>sourceSize</key>
                <string>{152,107}</string>
            </dict>
            <key>weapon_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,157},{166,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,94}}</string>
                <key>sourceSize</key>
                <string>{166,94}</string>
            </dict>
            <key>wenhao.png</key>
            <dict>
                <key>frame</key>
                <string>{{961,402},{40,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,20},{40,40}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>ws_deco_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{800,23}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{800,23}}</string>
                <key>sourceSize</key>
                <string>{800,23}</string>
            </dict>
            <key>ws_deco_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,25},{29,232}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,232}}</string>
                <key>sourceSize</key>
                <string>{29,232}</string>
            </dict>
            <key>ws_deco_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1003,75},{19,218}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{19,218}}</string>
                <key>sourceSize</key>
                <string>{19,218}</string>
            </dict>
            <key>ws_deco_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,883},{140,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,21}}</string>
                <key>sourceSize</key>
                <string>{140,21}</string>
            </dict>
            <key>ws_mask.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,509},{80,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,48}}</string>
                <key>sourceSize</key>
                <string>{80,48}</string>
            </dict>
            <key>xuecao.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,434},{435,108}}</string>
                <key>offset</key>
                <string>{-4,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,10},{435,108}}</string>
                <key>sourceSize</key>
                <string>{467,132}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{678,31},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,21},{86,86}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ui_en.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8893f32b8cc6f930294995cbbe8759f5:1/1$</string>
            <key>textureFileName</key>
            <string>ui_en.png</string>
        </dict>
    </dict>
</plist>
